.header {
  width: 100%;
  max-width: 880px;
  margin: 0 0 40px;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
}
.header__title {
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 768px) {
  .header__title {
    width: 126px;
    height: 24px;
    padding: 0;
    margin-left: 27px;
  }
}
