.place
{
    position: absolute;
    place-content: center;
    background: #ffffff;
    max-width: 430px;
    max-height: 330px;
    padding: 36px;
    border-radius: 10px;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(90% - 74px);
    margin: 0 19px 0 0;
}
.place__close
{
    background: url(../images/closehover.png);
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: -30px;
    right: -40px;
}
.place__title
{
    font-family: "Inter";
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 54px;
    color: black;
}
.place__form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.place__input
{
    font-size: 14px;
    font-weight: 400;
    border: 0;
    border-bottom: 1px solid #00000026;
    max-width: 358px;
    width: 100%;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
}
.place__create-button
{
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #c4c4c4;
    background-color: black;
    max-width: 358px;
    width: 100%;
    height: 50px;
    margin: 0 ;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
}
.place__input_error
{
border-color: #FF0000;
}
.place__text_error
{
font-family: "Inter";
font-weight: 400;
font-size: 12px;
color: #FF0000;
}
.place__create_disabled
{
background-color: white;
border: 1px solid #000000
}
.place__create-button:hover
{
background-color: gray;   
}
@media screen and (max-width: 320px) 
{
    .place
    {
        position: absolute;
        place-content: center;
        background: #ffffff;
        max-width: 430px;
        max-height: 330px;
        padding: 36px;
        border-radius: 10px;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(90% - 74px);
        margin: 0 19px 0 0;
        top: 300px;
    }
    .place__close
    {
        background: url(../images/closehover.png);
        width: 40px;
        height: 40px;
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        position: absolute;
        top: -50px;
        right: -10px;
        scale: 0.7;
    }
    .place__title
    {
        font-family: "Inter";
        font-size: 24px;
        font-weight: 900;
        margin-bottom: 54px;
        color: black;
    }
    .place__form
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .place__input
    {
        margin-bottom: 29px;
        font-size: 14px;
        font-weight: 400;
        border: 0;
        border-bottom: 1px solid #00000026;
        max-width: 358px;
        width: 100%;
        font-family: "Inter";
        font-size: 14px;
        font-weight: 400;
    }
    .place__create-button
    {
        color: #ffffff;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        border: 1px solid #c4c4c4;
        background-color: black;
        max-width: 358px;
        width: 100%;
        height: 50px;
        font-family: "Inter";
        font-size: 18px;
        font-weight: 400;
        line-height: 21.78px;
    }
}