.pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: none;
}
.pop-up__overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
}
.pop-up__active {
  display: flex !important; 
}
