@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/footer.css);
@import url(../blocks/profile.css);
@import url(../blocks/content.css);
@import url(../blocks/card.css);
@import url(../blocks/cards.css);
@import url(../vendor/fonts.css);
@import url(../blocks/edit.css);
@import url(../blocks/pop-up.css);
@import url(../blocks/images.css);
@import url(../blocks/place.css);
@import url(../blocks/create.css);
@import url(../blocks/form.css);
@import url(../blocks/chat.css);
@import url(../blocks/location.css);
@import url(../blocks/photo.css);